{% extends "base.html" %}

{% block content %}

<div class="hero">

<h1>MedTrack Healthcare System</h1>

<p>Manage appointments between doctors and patients easily.</p>

</div>


<div class="dashboard-grid">

<div class="card">
<h3>Register</h3>
<p>Create an account</p>
<a href="/register" class="btn">Register</a>
</div>

<div class="card">
<h3>Login</h3>
<p>Access your dashboard</p>
<a href="/login" class="btn">Login</a>
</div>

<div class="card">
<h3>Book Appointment</h3>
<p>Schedule appointment</p>
<a href="/book_appointment" class="btn">Book</a>
</div>

<div class="card">
<h3>View Appointments</h3>
<p>See all appointments</p>
<a href="/view_appointments" class="btn">View</a>
</div>

</div>

{% endblock %}